.content{
    display: flex;
    flex-direction: column;
}

#arrow-calendar{
    padding-top: 50px;
    width: 90px;
    height:90px;
    align-self: center;
}

#arrow-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}