.homepage{
    background-image: url(../image/homepage.jpg);
    background-size: cover;
    opacity: 0.7;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text{
    color: rgb(251, 252, 240);
    font-size: 90px;
    padding: 50px;
    font-family: Georgia;
}


#arrow{
    width: 150px;
    height:150px;
}