#ramen{
    width: 80%;
    height: 80%;
}

.page-arrow{
    width: 100px;
    height: 100px;
}

.ramen-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding-left: 30px;
}

.ramen{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.instruction{
    padding: 10px;
    font-family: Georgia;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}